<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <title>404 Not Found</title>
  </head>
  <body>
	<h1>You have arrived at betting screen!</h1>
  </body>
</html>